DISCORD_TOKEN=your_discord_bot_token
DISCORD_CHANNEL_ID=discord_channel_id_that_receives_storefront_webhooks
APPS_SCRIPT_URL=https://script.google.com/macros/s/your_deployment_id/exec
CAPTURE_ONLY=1
DEBUG_DISCORD=1
